extends ../layout/main

block variables
    - var title = 'Помічник у виборі методу прошивки Nintendo Switch'

block content
    .checker__body
        h1.checker_title !{title}
        div.info
            h3
                p Дисклеймер
            p 
                strong Автори цього сайту не несуть відповідальності за інформацію на цій сторінці. Всі діапазони серійників взяті з відкритих джерел і скориговані особистим досвідом. Жодні претензії з приводу того, що на сайті був показаний зелений серійник, а приставка в результаті не прошивається, або навпаки, не приймаються! 
            p Для приставки першої ревізії, єдиний вірний спосіб дізнатися прошивається вона чи ні - це перевірити, прокинувши пейлоад. Перевірка серійного номера не дає 100% результату. Наприклад, приставка з серійником <strong>XAW10065928690</strong> буде позначена як прошивна, але за фактом такою не є. Дуже часто відновлені консолі мають прошивний серійник, але на ділі вразливість в них закрита. Майте це на увазі. 
            p При перевірці через tegrarcmGUI у непрошивної консолі екран залишиться чорним, хоча у вікні tegrarcmGUI і буде показано, що пейлоад прокинуто успішно. У лозі програми буде вказано значення <strong>0x0000</strong>. Це означає, що вашу приставку не можна прошити за допомогою <a class="checker_a" href="http://switch.customfw.xyz/fusee-gelee">Fusée Gelée</a></p><img class="checker_img" src="img/tegra.png"></p><p class="checker_p">Якщо це ваш випадок, то для вашої приставки підійде <strong>чіп SX Core.</strong></p><p class="checker_p"><strong>Детальніше про чіпи <a href="https://switch.customfw.xyz/modchip">в керівництві</a></strong>.

        div.info
            h3 
                a(href="http://switch.customfw.xyz/fusee-gelee") Fusée Gelée
            p Цим типом злому можна зламати тільки приставки, що випускалися до літа 2018-го року. Незважаючи на те, що після зазначеного періоду приставки виходили точно на такій же апаратній платформі, вразливість була закрита. Якщо ви не знаєте чи вразлива ваша приставка до методу Fusée Gelée, нижче ви знайдете помічник для підбору типу вразливості за серійним номером, скористайтеся ним. 
        div.info
            h3 
                a(href="http://switch.customfw.xyz/fusee-gelee") Caffeine
            p За допомогою цього типу злому, можна зламати будь-яку Nintendo Switch з версією системного ПЗ 4.0.0 - 4.1.0. Це програмна вразливість, прив'язана до певної версії системного ПЗ і працює тільки на ній.
        div.info
            h3 
                a(href="http://switch.customfw.xyz/modchip") Чіпування
            p За допомогою чіпування можна зламати взагалі будь-який Nintendo Switch. Чіпи на платформі Mariko (так звана друга ревізія, приставки серії Lite і OLED) можна зламати тільки за допомогою чіпування. Приставки першої ревізії із закритою вразливістю і з прошивкою вище, ніж 4.1.0 теж можна зламати тільки прочіпувавши. 
        .table__wrapper
            .table__container
                .table__ns__caption.table__caption Nintendo Switch
                .table__ns__body.table__body#ns
                    img#button.table(src="img/ns.png" alt="Nintendo Switch" data-result="result1" class="descriptionToggler")
                .table__nsl__caption.table__caption Nintendo Switch Lite / OLED
                .table__nsl__body.table__body#nsl
                    img.table(src="img/nsl.png" alt="Nintendo Switch Lite" data-result="result2" class="descriptionToggler")
        div#scroll_here.result.hidden
        div.check-result.hidden